@model AddEditBookViewModel

@{
	SelectList categories = new SelectList(Model.Categories, "Id", "Name");
}

<div class="row mt-4">
	<div class="col-9">
		<div class="border p-3 d-grid justify-content-between">
			<input type="hidden" asp-for="Id" />
			@*<div asp-validation-summary="ModelOnly"></div>*@
			<div class="form-floating py-2 col-12">
				<input asp-for="Title" class="form-control border-0 shadow" />
				<label asp-for="Title" class="ms-2"></label>
				<span asp-validation-for="Title" class="text-danger"></span>
			</div>
			<div class="py-2 col-12">
				<label asp-for="Description" class="ms-2 text-muted"></label>
				<textarea asp-for="Description" class="border-0 shadow"></textarea>
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>
			<div class="form-floating py-2 col-12">
				<input asp-for="Author" class="form-control border-0 shadow" />
				<label asp-for="Author" class="ms-2"></label>
				<span asp-validation-for="Author" class="text-danger"></span>
			</div>
			<div class="form-floating py-2 col-12">
				<input asp-for="ISBN" class="form-control border-0 shadow" />
				<label asp-for="ISBN" class="ms-2"></label>
				<span asp-validation-for="ISBN" class="text-danger"></span>
			</div>
			<div class="form-floating py-2 col-12">
				<input asp-for="Price" class="form-control border-0 shadow" />
				<label asp-for="Price" class="ms-2"></label>
				<span asp-validation-for="Price" class="text-danger"></span>
			</div>
			<div class="form-floating py-2 col-12">
				<input asp-for="ListPrice" class="form-control border-0 shadow" />
				<label asp-for="ListPrice" class="ms-2"></label>
				<span asp-validation-for="ListPrice" class="text-danger"></span>
			</div>
			<div class="form-floating py-2 col-12">
				<input asp-for="Price50" class="form-control border-0 shadow" />
				<label asp-for="Price50" class="ms-2"></label>
				<span asp-validation-for="Price50" class="text-danger"></span>
			</div>
			<div class="form-floating py-2 col-12">
				<input asp-for="Price100" class="form-control border-0 shadow" />
				<label asp-for="Price100" class="ms-2"></label>
				<span asp-validation-for="Price100" class="text-danger"></span>
			</div>
			<div class="form-floating py-2 col-12">
				<select asp-for="CategoryId" asp-items="categories" class="form-select border-0 shadow">
					<option selected disabled value="0">Select Category</option>
				</select>
				<label asp-for="CategoryId" class="ms-2"></label>
				<span asp-validation-for="CategoryId" class="text-danger"></span>
			</div>
			<div class="form-floating py-2 col-12">
				@* Handle the main book image in case of add or update *@
				@if (Model.Id != 0)
				{
					<input type="file" name="mainImage" class="form-control border-0 shadow" />
					<label asp-for="MainImage" class="ms-2"></label>
				}
				else
				{
					<input class="form-control border-0 shadow input-validation-error"
						   type="file"
						   data-val="true"
						   data-val-required="You must add the main image"
						   name="mainImage"
						   aria-describedby="mainImage-error"
						   aria-invalid="true"
						   />
					<label asp-for="MainImage" class="ms-2"></label>
					<span class="text-danger field-validation-error" data-valmsg-for="mainImage" data-valmsg-replace="true"></span>
				}
			</div>
			<div class="form-floating py-2 col-12">
				<input type="file" name="files" class="form-control border-0 shadow" multiple />
				<label asp-for="BookImages" class="ms-2"></label>
			</div>
			<hr />
			<div class="row mt-3">
				<div class="col-6 col-md-3">
					<button type="submit" class="btn btn-primary form-control">@(Model.Id == 0 ? "Create" : "Update")</button>
				</div>
				<div class="col-6 col-md-3">
					<a asp-area="Admin" asp-controller="Book" asp-action="Index" class="btn btn-outline-primary border  form-control">
						Back to List
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-3">
		@if(Model.BookImages is not null && Model.BookImages.Count > 0)
		{
			@foreach(var image in Model.BookImages)
			{
				<div class="border p-1 m-2 text-center">
					<img src="@image.ImageUrl" alt="Book image will be shown here" class="w-100" style="border-radius:5px; border:1px solid #bbb9b9" />
					@if(image.IsMainImage)
					{
						<p class="m-0">This is the main image</p>
					}
					else
					{
						<a class="mt-1 btn btn-danger btn-sm" asp-action="DeleteImage" asp-route-imageId="@image.Id">
							<i class="bi bi-trash-fill"></i>
 						</a>
						<a class="mt-1 btn btn-warning btn-sm" asp-action="SetMainImage" asp-route-imageId="@image.Id">
							<i class="bi bi-gear-fill"></i> Set as main Image
						</a>
					}
				</div>
			}
		}
	</div>
</div>
