@{
	/*var status = Context.Request.Query["status"];

	var pending = "text-primary";
	var inProcess = "text-primary";
	var completed = "text-primary";
	var approved = "text-primary";
	var all = "text-primary";

	var active = "active text-white bg-primary";

	switch (status)
	{
		case "pending":
			pending = active;
			break;
		case "inProcess":
			inProcess = active;
			break;
		case "completed":
			completed = active;
			break;
		case "approved":
			approved = active;
			break;
		default:
			all = active;
			break;
	}*/
}

@section Styles
{
	<link href="//cdn.datatables.net/2.1.7/css/dataTables.dataTables.min.css" rel="stylesheet" />
}

<div class="card shadow border-0">
	<div class="card-header bg-secondary bg-gradient ml-0 py-2">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-white py-2">Order List</h2>
			</div>
		</div>
	</div>

	<div class="card-body p-4">
		<div class="d-flex justify-content-between pd-5 pt-2">
			<span></span>
			<ul class="list-group list-group-horizontal-sm js-status-container">
				<li class="list-group-item" data-status="inProcess">
					<a style="text-decoration:none;" asp-controller="Order" asp-action="Index">In Process</a>
				</li>
				<li class="list-group-item" data-status="pending">
					<a style="text-decoration:none;" asp-controller="Order" asp-action="Index">Payment Pending</a>
				</li>
				<li class="list-group-item" data-status="completed">
					<a style="text-decoration:none;" asp-controller="Order" asp-action="Index">Completed</a>
				</li>
				<li class="list-group-item" data-status="approved">
					<a style="text-decoration:none;" asp-controller="Order" asp-action="Index">Approved</a>
				</li>
				<li class="list-group-item active" data-status="all">
					<a style="text-decoration:none;" asp-controller="Order" asp-action="Index">All</a>
				</li>
			</ul>

		</div>
		<div class="table-responsive">
			<table id="tblTable" class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Id</th>
						<th>Name</th>
						<th>Phone</th>
						<th>Email</th>
						<th>Status</th>
						<th>Total</th>
						<th>Action</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>

@section Scripts
{
	<script src="//cdn.datatables.net/2.1.7/js/dataTables.min.js"></script>
	<script src="~/js/orders.js"></script>
}
